{% extends 'base.html' %}
{% load static %}

{% block css_file %}
  <link rel="stylesheet" href="{% static 'blog/styles/post-detail.css' %}" />
{% endblock css_file %}

{% block title %} 
{{post.title}}
{% endblock title %} 

{% block content %}

{% if comment_form.errors %}
<div id="alert">
  <h2>Sending comment failed!</h2>
  <p>There was a problem sending your comment. Try again!</p>
  <a href="#comment-form">Fix</a>
</div>
{% endif %}

<section id="summary">
    <h2>{{post.title|title}}</h2>
    <div>
      {% for tag in tags %}
      <span class="tag">{{ tag.caption }}</span>
      {% endfor %}
    </div>

    <article>
        <img src="{{ post.image.url }}" alt="{{post.title}}">
        <address>By <a href="mailto:{{ post.author.email }}">{{post.author|title}}</a></address>
        <div>Last Updates on <time>{{post.date|date:'d M Y'}}</time>
        </div>
    </article>
</section>

<main>{{post.content|linebreaks}}</main>

{% if comments %}
<section id="comments">
  <ul>
    {% for cm in comments %}
    <li>
      <h2>{{cm.user_name}}</h2>
      <p>{{ cm.comment|linebreaks }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}



<section id="comment-form">
    <h2>Your Comment</h2>
  <form action="{% url 'post-detail' post.slug %}" method="POST">
    {% csrf_token %}
    {% for field in comment_form %}
    <div class="form-control {% if field.errors %}invalid{% endif %}">
      {{ field.label_tag|title }}
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit" value="">Save Comment</button>
  </form>
</section>

{% endblock content %}